[Unit]
Description={{ node_exporter_app }} - exporter for node/machine metrics.
Wants=network-online.target
After=network-online.target

[Service]
User={{ node_exporter_app_user }}
Group={{ node_exporter_app_group }}
Type=simple
ExecStart={{ node_exporter_bin_path }}/{{ {{ node_exporter_app }} }} --collector.systemd --collector.processes --collector.mountstats

[Install]
WantedBy=multi-user.target
